# Core
pydantic
pydantic-core
pydantic-settings
python-dotenv==1.0.1

# UI
streamlit==1.56.0
pillow==12.2.0

# PDF/Image Processing
pdf2image==1.17.0
pypdf==6.9.2

# OCR (lightweight)
pytesseract==0.3.13
easyocr==1.7.2

# Japanese NLP
fugashi==1.5.2
#unidic-lite==1.0.8
pykakasi==2.3.0
jaconv== 0.5.0

# Translation - Local only (offline)
transformers==4.47.1
#sentencepiece==0.2.0
# torch==2.5.1
deepl==1.19.1

# Data
pandas==3.0.2

# Utils
tqdm==4.67.1
requests==2.32.3


